<div class="container">
<div class="description">
  <h2>The Community</h2>
  <p>Discover trusted reviews, share experiences. Join our product review community for unbiased insights and
    confident decision-making.</p>
</div>
<div class="content">
  <div class="icon-text">
    <mat-icon class="icon">groups</mat-icon>
    <span>No. of Users:</span>
    <h3>{{ noOfUsers }}</h3>
  </div>
  <div class="icon-text">
    <mat-icon class="icon">post_add</mat-icon>
    <span>No. of Reviews:</span>
    <h3>{{ noOfReviews }}</h3>
  </div>
  <div class="icon-text">
    <mat-icon class="icon">online_prediction</mat-icon>
    <span>Active Users:</span>
    <h3>{{ activeUsers }}</h3>
  </div>
</div>
</div>
